.back {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    padding-bottom: 78px;
    flex-direction: column;
}
.dash{
    align-self: center;
    text-align: center;
    margin-top: 86px;
    margin-bottom: 20px;
    font: 36px 'Lato', Helvetica, sans-serif;
    color:rgba(56, 145, 201, 1);
}
.grp-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    gap: 90px;
    transform: translateY(100px);
}
.card1,.card2 {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 16px 40px rgba(154, 170, 207, 0.2);
    align-self: center;
    display: flex;
    margin-top: 40px;
    width: 240px;
    height: 260px;
    max-width: 100%;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-weight: 400;
    padding: 80px;
}

img{
    object-fit: auto;
    object-position: center;
    width: 90%;
}

button{
    border: none;
    background-color: rgba(255, 255, 255, 1);
    align-self: center;
    display: flex;
}
span{
    margin-top: 30px;
}