.header {
    border-radius: 0px 0px 16px 16px;
    background-color: rgb(147, 207, 244);
    display: flex;
    width: 100%;
    gap: 30px;
    color: rgba(255, 255, 255, 1);
    justify-content: space-between;
    padding: 6px 30px 7px 16px;
    max-width: 100%;
    flex-wrap: wrap;
    padding-right: 40px;
}
@media (max-width: 991px) {
    .header {
      max-width: 100%;
      flex-wrap: wrap;
      padding-right: 20px;
    }
}
.logo {
    display: flex;
    gap: 15px;
    font-size: 36px;
    font-weight: 800;
    white-space: nowrap;
    text-align: center;
    letter-spacing: 0.72px;
}
@media (max-width: 91px) {
    .logo {
      white-space: initial;
    }
}
  
.div-4 {           
    font-family: 'Poppins', sans-serif;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    text-align: left;
}
.img1 {
    object-fit: auto;
    object-position: center;
    width:80px;
}
.di {
    display: flex;
    align-items: start;
    gap: 20px;
    font-size: 20px;
    font-weight: 400;
    justify-content: space-between;
    margin: auto 0;
}
  