
.layo{
    margin-left: 17rem;
}
.side{
    background-color: #F1F2F7;
    width:max-content;
}
.park{
    color: white;
    font-family: 'Poppins', sans-serif;
    flex-grow: 1;
    flex-basis: auto;
    margin:  25px 0 0 0;
    text-align: left;
    font-size:36px;
}
.side .logo{
    margin: 10px;
}