.repor-page {
  padding: 20px;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}

.repor-form {
  background-color: #fff;
  padding: 100px;
  padding-right: 0px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  max-width: max-content;
}

.repor-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 20px;
    column-gap: 50px;
}

.repor-form label {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: rgb(70, 72, 74);
    margin-right: 19rem;
    margin-top: 100px;
    width:max-content;
}

.repor-form input{
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(73, 74, 74);
    width: 280px;
    height: 56px;
    position: absolute;
    font-size: 18px;
}
.repor-list {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);  
}

.repor-list table {
  width: 100%;
  border-collapse: collapse;
}

.repor-list th, .repor-list td {
 text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.repor-list th {
  background-color: #f2f2f2;
  color: #333;
}
.repor-list tr:hover {
  background-color: #f5f5f5;
}

.repor-list td {
  color: #555;
}

#butn4 {
  border-radius: 18px;
  background-color: rgb(115, 191, 239);
  width: 278px;
  border:none;
  height:56px;
  max-width: 100%;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  justify-content: center;
  margin: 99px 0 30px 0;
  padding: 10px ;
  font: 20px 'Poppins', sans-serif;
  transform: translateY(20px);
  }
  
#butn4:hover {
    background-color: #5db7ec;
  }

