.user-management-container {
  padding: 20px;
  background-color:white;
  font-family: 'Lato', sans-serif; 
  }
  .user-management-content{
    background-color: #fff;
    padding: 60px;
    padding-right: 0px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    max-width: max-content;
  }
  h1 {
    margin-Top: 60px;
  color: #333;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  }
  
  .user-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 20px;
    column-gap: 50px;
  }
  
  .user-form h2 {
    margin-bottom: 15px;
  }
  
  .user-form input {
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(73, 74, 74);
    width: 280px;
    height: 56px;
    position: absolute;
    font-size: 18px;
  }
  
  .user-form button {
    border-radius: 18px;
    background-color: rgb(115, 191, 239);
    width: 278px;
    border:none;
    height:56px;
    max-width: 100%;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    justify-content: center;
    margin: 50px 0 40px 0;
    padding: 10px ;
    font: 20px 'Poppins', sans-serif;
    transform: translateY(20px);
  }
  
  .user-form button[type="button"] {
    background-color: #6c757d;
  }
  
  .user-list h2 {
    margin-Top: 60px;
    margin-bottom: 50px;
    color: #333;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
  }
  
  .user-list table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .user-list th, .user-list td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .user-list th {
    background-color: #f2f2f2;
    color: #333;
  }
  .user-list td:hover {
    background-color: #f9f9f9;
  }
  .user-list tr:hover{
    background-color: #f5f5f5;
  }
  
  .user-list button {
    border-radius: 18px;
    background-color: rgb(115, 191, 239);
    width: 278px;
    border:none;
    height:56px;
    max-width: 100%;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    justify-content: center;
    margin: 50px 0 40px 0;
    padding: 10px ;
    font: 20px 'Poppins', sans-serif;
    transform: translateY(20px);
  }
  
  .user-list button:last-child {
    background-color: #dc3545;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 60px;
  }
  
  .search-bar input {
    background-color: none;
    flex-grow: 1;
    padding: 8px;
    font-size: 16px;
  }
  
  .search-bar svg {
    margin-left: 260px;
    font-size: 20px;
  }
  
  .user-list {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width:max-content;
  }
  
  /* Rest of your existing styles */
  